entvirt/
staticfiles/
media/
__pycache__/
*.pyc
*.pyo
.env
db.sqlite3
*.log
.vscode/
.idea/
files/

# Prototipo SIN - archivos sensibles/generados
prototipo/sin/__pycache__/
prototipo/sin/certificado_prueba_key.pem
prototipo/sin/certificado_prueba_cert.pem
prototipo/sin/factura_firmada.xml
