<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form role="form" id="frmCliente" action="{% url 'fac:cliente_edit' obj.pk %}" method="post"  class="form-inline">
        {% else %}
        <form role="form"  id="frmCliente" action="{% url 'fac:cliente_new' %}" method="post"  class="form-inline">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="csg-form-title">
                            {% if obj %} Editar {% else %} Nuevo {% endif %} Cliente
                            {% if t %} En Factura {% endif %}
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" name="id" id="id" class="form-class frmid">
                            <div class="col-4">
                                {{ form.nombres.label_tag }}
                                {{ form.nombres }}
                            </div>
                            <div class="col-4">
                                {{ form.apellidos.label_tag }}
                                {{ form.apellidos }}
                            </div>
                            <div class="col-4">
                                {{ form.ci.label_tag }}
                                {{ form.ci }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                {{ form.nit.label_tag }}
                                {{ form.nit }}
                            </div>
                            <div class="col-4">
                                {{ form.razon.label_tag }}
                                {{ form.razon }}
                            </div>
                            <div class="col-4">
                                {{ form.tipo.label_tag }}
                                {{ form.tipo }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                {{ form.celular.label_tag }}
                                {{ form.celular }}
                            </div>
                            <div class="col-4">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="col-4 d-flex align-items-center" style="padding-top: 1.9rem;">
                                <label for="id_estado">Estado</label>
                                {{ form.estado }}
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="return cerrar_modal()">
                                        Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div> 

{% if t %}
<script>
$("#frmCliente").submit(function( e ) {
    var frm = $('#frmCliente');
    // alert("{{request.path}}")
    $.ajax({
            type: frm.attr('method'),
            // url: frm.attr('action'),
            url: "{{request.path}}",
            data: frm.serialize(),
            success: function (data) {
                // alert(data);
                // window.location.reload(true);
                $("#id").val(data)
                console.log(data)
                cerrar_modal()
            },
            error: function(data,b,c) {
                alert(data);
                console.log(c)
            }
        });
        return false;
});

</script>
{% endif %}